@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

html {
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(37, 37, 37);
}

.btn-box {
  border: 2px solid #000;
  padding: 10px;
  border-radius: 7px;
  box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.7);
}

.btn {
  display: block;
  text-align: center;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  padding: 10px 20px;
  font-family: inherit;
  font-size: 25px;
  color: #fff;
  text-shadow: 0 2px 5px #000;
  background: linear-gradient(to top, #696969, #575757);
  border: 2px solid #000;
  border-radius: inherit;
  box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.4),
    0 12px 12px 0 rgba(0, 0, 0, 0.3);
}

.btn:hover {
  background: linear-gradient(to bottom, #696969, #575757);
}

.btn:active {
  transform: translateY(3px);
  box-shadow: inset 0 6px 6px 0px rgba(0, 0, 0, 0.3);
}
